/* globals.css or main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
  background-color: #F7F3E9; /* Light Beige */
  color: #333;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

button {
  background-color: #D1A15D; /* Muted Gold */
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #FF6B6B; /* Subtle Coral */
}
